header{
  margin:0;
  background-color: #00000023;
  z-index:9998;
  height:90px;
}

.logoTop {
  height: 90px;
  float: left;
  padding-left: 5%;
}

.logoNav {
  display:none;
}

.navLinks {
  list-style: none;
  float: right;
  line-height: 90px;
}

.navLinks li {
  display: inline-block;
  margin: 0px 20px;
}

.navLinks li a {
  font-family: 'Jost';
  color:  #eeebe3;
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 0.3s linear 0s;
  text-shadow: 5px 5px 5px #0c0c0c;
}

.navLinks li a:hover {
  color:  #c6ae6e;
  padding-bottom: 7px;
  border-bottom: 1.5px solid #c6ae6e;
  font-size: 1.6rem;
}

#basketButton {
  background-color: #eeebe3;
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  border-bottom: none;
  color:#151514;
  text-shadow: none;
}

#basketButton:hover{
  background-color: #7A949A;
  color: white;
}

#menuToggler {
  display: none;
}

#menuTogglerButton {
  display: none;
  position: fixed;
  z-index:9999;
  top:20px;
  right: -10px;
  cursor: pointer;
  background-color: #6a533755;
  padding:15px 10px 10px 10px;
  transition: all 0.5s ease-out;
}

#menuTogglerButton .menuLine {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background-color: rgb(239, 236, 236);
  transition: all 0.5s ease-out;
}

@media (max-width: 800px) {
  .navLinks {
    position:fixed;
    width: 70%;
    height:100vh;
    text-align: center;
    transition: all 0.5s;
    left: -110%;
    top: 0px;
    background: #f7f7f4;
    margin-right: 10%;
    padding-left: 0px;
  }

  .navLinks li {
    display: block;
    line-height: 50px;
  }

  .navLinks li a {
    font-size: 20px;
    text-shadow: none;
    color:#c5baad;
  }

  .navLinks li a:hover {
    border-bottom: none;
  }

  .logoNav {
    display: inline-block;
    max-width:70%;
    padding:5vh 0px;
    max-height: 40vh;
  }

  .logoTop {
    display:none;
  }

  #menuTogglerButton {
    display: block;
    margin-right: 30px;
  }

  #menuToggler:checked ~ .navLinks {
    left:0;
  }

  #menuToggler:checked ~ * .menuLine:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  #menuToggler:checked ~ * .menuLine:nth-child(2) {
    opacity:0;
  }

  #menuToggler:checked ~ * .menuLine:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }

  #basketButton {
    color:#f7f7f4;
    background-color:#c5baad;
  }


}
