.App {
  text-align: center;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#overlaying {
  position: absolute;
  top:-90px;
  z-index: -1;
  width:100%;
}

@media (min-width: 1200px) {
  .App {
    /* border: 25px solid #b4a6a6; */
    
  }

}
